# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.env
.env.*
.venv/
venv/
*.log
*.sqlite3

# Streamlit
.streamlit/config.toml
.streamlit/*.toml
.streamlit/*.json

# Mac & VSCode & OS
.DS_Store
.vscode/
.idea/
*.swp